
{% assign posts=site.posts | where:"lang", page.lang %}

<!-- news -->
 <div class="news">
  <h3 class="section-title"><i class="fa fa-rss"></i> {{ site.t[page.lang].latest-news }}</h3>
               <!-- <ul class="nav">
               {% for post in posts limit:4 %}
                  <li>
                     <p>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                        <br />
                        <small>{{ post.date | date: "%Y/%m/%d" }}</small>
                     </p>
                     <p>
                        {{ post.content | strip_html | truncatewords: 20 }}
                     </p>
                  </li>
               {% endfor %}
               </ul> -->

  <ul class="post-list">
  {% assign collection = site.posts | where:"lang", page.lang %}
  {% for post in collection limit:5 %}
    <li>
      <span class="block">
        {% if post.type == 'video' %}
        <i class="fa fa-play-circle"></i>
        {% endif %}
        <a href="{{ site.url }}{{ post.url }}"> {{ post.title }}<span class="entry-date">
        <time datetime="{{ post.date | date_to_xmlschema }}"><small>{{ post.date | date: "%d" }} {% include date.html date=post.date mode="month"%}</small></time></span>
        </a>
      </span>
        <p> {{ post.content | strip_html | truncatewords: 10 }} </p>
    </li>
  {% endfor %}
</ul>

 <p class="block">
 <a class="btn btn-gvnix pull-right" target="_top" href="{{site.url}}/{{page.lang}}/blog">{{ site.t[page.lang].all-news }}</a>
 </p>

 </div>

