@media ( max-width : 400px) {
	.leaflet-control-layers {
		font-size: 1.2em;
	}
}

.leaflet-control-layers-group-name {
	font-weight: bold;
	margin-bottom: .2em;
	display: block;
}

.leaflet-control-layers-group {
	margin-bottom: .5em;
}

.leaflet-control-layers-group label {
	padding-left: .5em;
}

.leaflet-control-layers-collapse-button {
background-color: #F4F4F4;
    border-radius: 0 10px 10px 0;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.176);
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 40px;
    z-index: 1200;
}

.leaflet-control-layers-collapse-button:hover {
	background-color: rgb(230, 230, 230);
}