@media ( max-width : 400px) {
	.leaflet-control-toolbar {
		margin-bottom: -10px!important;
		z-index: 999999;
		overflow-x: auto;
	}
}

.leaflet-control-toolbar {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 5px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	font-size: 2em;
	max-height: 45px;
	display: inline-block;
	overflow-x: auto;
	overflow-y: hidden;
	margin-bottom: 5px;
}

.leaflet-control-toolbar-list i {
	display:inline;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	cursor: pointer;
	text-align: center !important;
}

.leaflet-control-toolbar-list i:hover {
	background-color: rgb(244, 244, 244);
}

.leaflet-control-toolbar-collapse-button {
	background-color: rgb(244, 244, 244);
	min-height: 25px;
	position: absolute;
	border-top-left-radius: 10px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 0px;
	right: 100%;
	top: 50%;
	box-shadow: -6px 6px 12px rgba(0, 0, 0, 0.176);
	color: #FFFFFF;
	font-weight: bold;
	width: 75%;
	z-index: 1200;
	text-align: center;
	font-size: 1.5em;
	cursor: pointer;
}

.leaflet-control-toolbar-collapse-button:hover {
	background-color: rgb(230, 230, 230);
}