/target
addon-dynamic-configuration/target
addon-jpa/target
addon-monitoring/target
addon-occ/target
addon-service/target
addon-web-mvc-binding/target
addon-web-mvc-bootstrap/target
addon-web-mvc-datatables/target
addon-web-mvc-dialog/target
addon-web-mvc-geo/target
addon-web-mvc-i18n/target
addon-web-mvc-loupefield/target
addon-web-mvc-menu/target
addon-web-mvc-report/target
addon-web-mvc/target
addon-web-mvc-typicalsecurity/target
gvnix-osgi-bundles/target
repository/target
roo-addon-suite/target
support/target
addon-jpa/addon/target
addon-jpa/annotations/target
addon-occ/addon/target
addon-occ/annotations/target
addon-service/addon/target
addon-service/annotations/target
addon-web-mvc/addon/target
addon-web-mvc/annotations/target
addon-web-mvc-binding/addon/target
addon-web-mvc-binding/annotations/target
addon-web-mvc-datatables/addon/target
addon-web-mvc-datatables/annotations/target
addon-web-mvc-datatables/taglib-datatables/target
addon-web-mvc-datatables/util-datatables/target
addon-web-mvc-dialog/addon/target
addon-web-mvc-dialog/annotations/target
addon-web-mvc-geo/addon/target
addon-web-mvc-geo/annotations/target
addon-web-mvc-geo/util-geo-web/target
addon-web-mvc-loupefield/addon/target
addon-web-mvc-loupefield/annotations/target
addon-web-mvc-report/addon/target
addon-web-mvc-report/annotations/target
addon-web-mvc/util-web-mvc-jackson-binder/target
.project
*/.project
*/*/.settings
.classpath
*/.classpath
addon-web-mvc-loupefield/addon/.classpath
