.mapviewer_control{
	height: 350px;
	width: 60%;
	float:right;
}

.mapviewer_layers_container{
	height: 350px;
	float:left;
	width: 40%;
	boder: 1px solid #DDDDDD;
	overflow: scroll;
	overflow-x: hidden; 
}

.mapviewer_layers_header{
	position:relative;
	width:100%;
}

.mapviewer_layers_container h3{
	background-color:rgb(96,130,36);
	padding: 15px;
	margin-top: 0;
	font-size: 14px;
	color: white;
}

.mapviewer_layers_layer{
	padding-bottom: 10px;
	border-bottom: 1px solid #DDDDDD;
}

.mapviewer_layers_layer span{
	padding:10px;
}

.mapviewer_layers{
	margin-top: 10px;
}