/*divs estructura para viewlist*/

.panel-tabs {
    float: right;
    height: auto;
    left: -7px;
    position: relative;
    width: 3%;
    z-index: 100;
}

/*tundra-dijit*/

.dijitTitlePaneTitle {
  width: 97%;
}

.dijitContentPane {
    display: block;
    overflow: visible;
}
.dijitTitlePaneContentOuter {
    border: none;
    padding:0;
    margin:0;
}
.tundra .dijitTitlePaneContentOuter {
    border: none;
    padding:0;
    margin:0;
}

.patternContentPane {
    overflow: auto;
}

.patternContentPane table {}

.patternContentPane table tr.footer {}

.patternContentPane table tr.footer td {}

.patternContentPane table tr.footer td div.submit {
    padding: 1px;
    text-align: right;
    height: 21px;
}

.tundra .dijitTitlePaneContentInner {
    padding: 2px;
}

/* quicklinks */

div.quicklinks {
    text-align: right;
    padding: 0;
    margin:0;
    width: 98%;
}

.quicklinks form {
    display: inline;
}

.quicklinks ul {
    margin: 0;
    padding: 0;
}

.quicklinks ul li {
    display: inline;
}


/* DIV FORMULARIOS */

form div.formularios {
    margin: 0;
    padding:0;
}

form#command h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #4E4E4E;
    padding: 0 5px;
    margin:0;
}

.formularios ul {
    height: 100%;
    display: table;
    list-style: none;
    margin:0;
    padding: 5px 0 0;
}

/* trescols */

.formularios ul.tresCols {
    margin:0;
    padding:0 5px;
    width: 100%;
}

.formularios ul.tresCols li {
  float: left;
  margin: 0 10px 0 0;
}

.formularios ul.tresCols li ul {
  padding: 0;
  margin: 0 auto;
}

.formularios ul.tresCols li ul li {
  float: left;
  width: 110px;/*important*/
  margin: 0;
}

/* dosCols */
.formularios ul.dosCols {
  margin:0;
    padding:0 5px 0;
    width: 100%;
    }

.formularios ul.dosCols li {
  float: left;
  margin: 0 10px 0 0;
  width: 48%;
}
.formularios ul.dosCols li ul {
  padding: 0;
  margin: 0 auto;
}
.formularios ul.dosCols li ul li {
  float: left;
  width: 110px;/*important*/
  margin: 0;
}

/* Checkbox */
.formularios ul.checkbox { margin:0 auto;}


/* size inputs */
li.size40 .dijitTextBox { width: 40px;}
li.size80 .dijitTextBox { width: 80px;}
li.size120 .dijitTextBox { width: 120px;}
li.size170 .dijitTextBox { width: 170px;}
li.size300 .dijitTextBox { width: 300px;}
li.size400 .dijitTextBox { width: 400px;}
li.size500 .dijitTextBox { width: 500px;}
li.size675 .dijitTextBox { width: 675px;}
li.height25 .dijitTextBox { height: 25px;}
li.height40 .dijitTextBox { height: 40px;}
li.height50 .dijitTextBox { height: 50px;}
li.height100 .dijitTextBox { height: 100px;}

/* textarea */

li.observaciones .dijitTextBox {
  min-height:5.5em !important;
    max-height:22em !important;
    overflow-y: auto !important;
    min-width: 600px;
    margin: 3px;
    background: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  border: 1px solid #C1CADD;
  height: 66px;
}

li.size40 .box { width: 40px;}
li.size80 .box { width: 80px;}
li.size120 .box { width: 120px;}
li.size170 .box { width: 170px;}
li.size300 .box { width: 300px;}
li.size400 .box { width: 400px;}
li.size500 .box { width: 500px;}
li.size675 .box { width: 675px;}
li.height25 .box { height: 25px;}
li.height40 .box { height: 40px;}
li.height50 .box { height: 50px;}
li.height100 .box { height: 100px;}

li.size40 .boxNoedit { width: 40px;}
li.size80 .boxNoedit { width: 80px;}
li.size120 .boxNoedit { width: 120px;}
li.size170 .boxNoedit { width: 140px;}
li.size300 .boxNoedit { width: 300px;}
li.size400 .boxNoedit { width: 400px;}
li.size500 .boxNoedit { width: 500px;}
li.size675 .boxNoedit { width: 675px;}
li.height25 .boxNoedit { height: 25px;}
li.height40 .boxNoedit { height: 40px;}
li.height50 .boxNoedit { height: 50px;}
li.height100 .boxNoedit { height: 100px;}

li.size40 .boxDisabled { width: 40px;}
li.size120 .boxDisabled { width: 120px;}
li.size170 .boxDisabled { width: 170px;}
li.size300 .boxDisabled { width: 300px;}
li.size400 .boxDisabled { width: 400px;}
li.size500 .boxDisabled { width: 500px;}
li.size675 .boxDisabled { width: 675px;}
li.height25 .boxDisabled { height: 25px;}
li.height40 .boxDisabled { height: 40px;}
li.height50 .boxDisabled { height: 50px;}
li.height100 .boxDisabled { height: 100px;}


.dijitTextBox {
    vertical-align: middle;
    width: 95px;/*important, size input base*/
}

.tundra .dijitTextBox {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    border: 1px solid #C1CADD;
    height: 18px;
    padding-left: 2px;
 }

.formularios span.listTitle {
  height: 20px;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: bold;
    border-bottom: 0.07em dotted #B8B8B8;
    margin-bottom: 10px;
    color: #000;
}
.formularios span.listTitleEmpty {
    height: 20px;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    visibility: hidden;
    color: #000;
}

.edit input, .edit textarea { color: #234372;}

.boxNoedit .box {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: 18px;
    color: #234372;
    border: 1px solid #C1CADD;
    background-color: #E2E4E9;
    float: left;
}

.boxDisabled .box {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #ADADAD;
    height: 18px;
    border: 1px solid #D2D2D2;
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
}

.box {
    width: 100px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C1CADD;
    color: #234372;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: 18px;
}

label {
  width:150px;
  margin-left: 0px;
  margin-top: 3px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #4E4E4E;
  text-align: right;
  padding-right: 5px;
  float: left;
}

ul.checkbox label {
  vertical-align: middle;
  width: auto;
}

ul.tresCols label {
  text-align: left;
  width: 100px;
}

ul.dosCols label {
  text-align: left;
  width: 100px;
}

ul.tresCols .dijitTextBox, ul.dosCols .dijitTextBox {
  clear: both;
  text-align: left;
}

ul.formInline li {float: left;}



/* styles PATTERN */

/* pattern table */

.patternContentPane table tr td input {
  border: 1px solid #C1CADD;
  color: #234372;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 11px;
  font-weight: normal;
  height: 18px;
  text-align: left;
  background: none repeat scroll 0 0 #FFFFFF;
}

.patternContentPane table tr td select[disabled] {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  border: none;
  text-align: left;
  color: #000000;
  background: none;
  text-align: left;
  height: 18px;
  border: none;
}

/* pattern table */

.patternContentPane table tr td .submit input {
    float: right;
    padding: 0 15px;
    width: 80px;
}

.patternContentPane table tr td {
padding: 2px 5px;
}

.patternContentPane table tr td input {
    float: left;
    max-width: 500px;
}

/* Relations and relation tags styles (make changes careful for FF, IE and CR navigators compatibility) */

/* Required to view detail pattern in FF and CR */
body .dijitAlignClient {
	position: relative;
}

/* Detail pattern container style */
.main_tab_container_relations {
	display: inherit;
}

/* Detail pattern pane for each tab*/
.main_tab_content {
	/* To view max tabular pattern rows (25) plus 5 additional rows when adding on all web navigators */
	height: 1050px;
}

/* MESSAGES */

.avisocorto .title {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 18px;
font-weight:normal;
color: #FFFFFF;
text-align: left;
padding: 10px;
}
.avisolargo {
border-top:3px solid #ccc;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
color: #4E4E4E;
text-align: left;
padding: 20px 10px;
background: #f5f5f5;
}

.MessageBox { border: 1px solid #ccc; margin-bottom: 10px;}

.MessageInfo { background-color: #2C658F; }

.MessageError { background-color: #BB000C; }

.MessageAlert { background-color: #FFAB3F; }

.MessageSuggest { background-color: #7A8F2C; }

.MessageCloseIcon {
    /*background: url(../images/pattern/cerrar.gif) no-repeat scroll right top transparent;*/
    height: 15px;
    position: relative;
    vertical-align: middle;
    width: 15px;
    float: right;
    right: 4px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight:normal;
    color: #FFFFFF;
    cursor: pointer;
}
