<!-- counter -->
<div id="counter" class="container-fluid">
  <div class="row-fluid counter-container">
  {% if page.lang == "en" %}

                <h1><small>5th</small> ANNIVERSARY</h1>

                <div class="col-sm-3 counter-box fadeInUp animated">
                      <h4 data-from="0" data-to="5">5</h4>
                      <p>Years of experience</p>
                </div>
<!--                 <div class="col-sm-3 counter-box fadeInDown animated">
                      <h4 data-from="0" data-to="274">78</h4>
                      <p>Downloads</p>
                </div> -->
                <div class="col-sm-3 counter-box fadeInDown animated">
                      <h4 data-from="0" data-to="330239">330239</h4>
                      <p>Lines of code</p>
                </div>
                <div class="col-sm-3 counter-box fadeInUp animated">
                      <h4 data-from="0" data-to="2441">2441</h4>
                      <p>Commits</p>
                </div>
                <div class="col-sm-3 counter-box fadeInDown animated">
                      <h4 data-from="0" data-to="1825">1825</h4>
                      <p>Cups of coffee</p>
                </div>
           </div>

    {% endif %}

    {% if page.lang == "es" %}

                <h1><small>5º</small> aniversario</h1>

                <div class="col-sm-3 counter-box fadeInUp animated">
                      <h4 data-from="0" data-to="5">5</h4>
                      <p>Años de experiencia</p>
                </div>
<!--                 <div class="col-sm-3 counter-box fadeInDown animated">
                      <h4 data-from="0" data-to="274">78</h4>
                      <p>Descargas</p>
                </div> -->
                <div class="col-sm-3 counter-box fadeInDown animated">
                      <h4 data-from="0" data-to="330239">330239</h4>
                      <p>Líneas de código</p>
                </div>
                <div class="col-sm-3 counter-box fadeInUp animated">
                      <h4 data-from="0" data-to="2441">2441</h4>
                      <p>Commits</p>
                </div>
                <div class="col-sm-3 counter-box fadeInDown animated">
                      <h4 data-from="0" data-to="1825">1825</h4>
                      <p>Tazas de café</p>
                </div>

    {% endif %}
  </div>
</div>
<!-- /counter -->

