    <!-- Smooth Page Scroll to Top with jQuery
    ================================================== -->
  <a class="scrollup" href="#" rel="tooltip" data-original-title=""  data-placement="left"></a>

<!-- Not in use page image featured -->
<!-- {% if page.imagefeature %}
<footer id="footer"  class="blog-background overlay text-center align-middle animated from-top" style="background-image: url({{ site.url }}{{ ASSET_PATH }}/images/{{ page.imagefeature }})" >
{% else %}
<footer id="footer"  class="blog-background overlay text-center align-middle animated from-top" style="background-image: url({{ site.url }}{{ ASSET_PATH }}/images/{{ site.default_bg_header }})" >
{% endif %} -->

<footer id="footer"  class="blog-background overlay text-center align-middle animated from-top" style="background-image: url({{ site.url }}{{ ASSET_PATH }}/images/{{ site.default_bg_header }})" >

    <div class="inner">
        <div class="container">

            <ul class="social-icons">
            {% if site.owner.twitter %}<li>
                <a href="{{ site.owner.twitter }}" data-toggle="tooltip" title="{{ site.owner.name}} on Twitter" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.facebook %}<li>
                <a href="{{ site.owner.facebook }}" data-toggle="tooltip" title="{{ site.owner.name}} on Facebook" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.google_plus %}<li>
                <a href="{{ site.owner.google_plus }}" data-toggle="tooltip" title="{{ site.owner.name}} on Google+" target="_blank">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.stackoverflow %}<li>
                <a href="{{ site.owner.stackoverflow }}" data-toggle="tooltip" title="{{ site.owner.name}} on StackOverflow" target="_blank">
                    <i class="fa fa-stack-overflow"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.linkedin %}<li>
                <a href="{{ site.owner.linkedin }}" data-toggle="tooltip" title="{{ site.owner.name}} on LinkedIn" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.instagram %}<li>
                <a href="http://instagram.com/{{ site.owner.instagram }}" data-toggle="tooltip" title="{{ site.owner.name}} on Instagram" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.flickr %}<li>
                <a href="http://www.flickr.com/photos/{{ site.owner.flickr }}" data-toggle="tooltip" title="{{ site.owner.name}} on Flickr" target="_blank">
                    <i class="fa fa-flickr"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.github %}<li>
                <a href="{{ site.owner.github }}" data-toggle="tooltip" title="{{ site.owner.name}} on Github" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
            </li>{% endif %}
        </ul>
            <div>
                <p class="rss-subscribe text-center">
                 Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">via RSS</a> |
                 <a href="{{ site.url }}/{{ page.lang }}/legal-notice/">{{ site.t[page.lang].legal-notice }}</a> |
                 <a href="{{ site.url }}/{{ page.lang }}/cookies-policy/">{{ site.t[page.lang].cookies-policy }}</a> |
                 <a href="{{ site.url }}/{{ page.lang }}/contact/">{{ site.linksextra[page.lang].contact.title }}</a>
                </p>
                <p class="rss-subscribe text-center">
                 {{ site.t[page.lang].license-notice }}<a href="{{ site.t[page.lang].license-link }}" target="_blank">{{ site.t[page.lang].license-version }}</a>,<br/>
                 {{ site.t[page.lang].license-contents-notice }}<a href="{{ site.t[page.lang].license-contents-link }}" target="_blank">{{ site.t[page.lang].license-contents-version }}</a>

                </p>
                <p class="rss-subscribe text-center">
                  {{ site.owner.name }} &copy; {{ site.time | date: '%Y' }}
                </p>
                <p class="rss-subscribe text-center">
                <a href="{{ site.linksextra[page.lang].disid.url }}" target="_blank" data-toggle="tooltip" title="{{ site.linksextra[page.lang].disid.tooltip }}">{{ site.linksextra[page.lang].disid.title }}</a> |
                 <a href="{{ site.linksextra[page.lang].springroo.url }}" target="_blank" data-toggle="tooltip" title="{{ site.linksextra[page.lang].springroo.tooltip }}">{{ site.linksextra[page.lang].springroo.title }}</a>
                </p>
            </div>
        </div>
    </div>

</footer>
