<div class="sidebar">
<h3 class="section-title"> Categorías destacadas</h3>

<!-- featured -->
  <ul class="post-list">
      <li>
      <i class="icon-star-half-empty"></i>
      <a href="{{ site.url }}/{{ page.lang }}/featured/"> {{ site.linksextra[page.lang].featured.title }} </a>
  </ul>

<!-- training -->
  <ul class="post-list">
      <li>
      <i class="fa fa-calendar"></i>
      <a href="{{ site.url }}/{{ page.lang }}/training/"> {{ site.links[page.lang].training.title }} </a>
  </ul>

<!-- documentation -->
  <ul class="post-list">
      <li>
      <i class="fa fa-book"></i>
      <a href="{{ site.url }}/{{ page.lang }}/documentation/"> {{ site.links[page.lang].doc.title }} </a>
  </ul>

</div>



