
<div class="sidebar">

 <div class="project-documentation--container releases">
        <div class="item-dropdown-widget">
            <div class="item-dropdown--title text-center">gvNIX</div>
            <div class="item--dropdown">
                <div class="item--body">
                    <div class="item--body-title">
                        <div class="item--left-column">Release</div>
                        <div class="item--right-column">{{ site.t[page.lang].doc }}</div>
                    </div>
                    <!-- doc project -->
                    {% for badge in page.badges.releases %}
                    <div class="item--body--version">
                        <div class="item--left-column">

                              {% if badge.url == null %}
                                <a data-toggle="tooltip" title="{{ site.t[[page.lang]].download }} {{ badge.name }} {{ site.t[[page.lang]].release }}" target="_blank" href='{{ site.download }}' class="docs-link reference-link">
                              {% endif %}
                                {{ badge.name }}
                                </a>

                              {% if badge.name == site.current-version %}
                               <div class="spring-icon spring-icon-current-version"></div>
                              {% endif %}

                              {% if badge.name contains 'RC' or  badge.name contains 'M' %}
                                <div class="spring-icon spring-icon-pre-release"></div>
                              {% else %}
                                <div class="spring-icon spring-icon-ga-release"></div>
                              {% endif %}

                              {% if badge.url != null %}
                                <a data-toggle="tooltip" title="{{ site.t[[page.lang]].download }} {{ badge.name }} {{ site.t[[page.lang]].release }} ZIP" target="_blank" href='{{ badge.url }}' class="docs-link reference-link">
                                  <i class="fa fa-arrow-circle-down"></i>
                                </a>
                              {% endif %}

                        </div>
                        <div class="item--right-column">
                            <a data-toggle="tooltip" title="{{ site.t[[page.lang]].view }} {{ site.t[[page.lang]].doc }} {{ badge.name }} {{ site.t[[page.lang]].release }}" target="_blank" href='{{ site.url}}/assets/doc/{{ badge.guide }}' class="docs-link reference-link">{{ site.t[page.lang].doc-reference }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- all versions link to Sourceforge -->
                    <p class="block">
                      <a class="btn btn-sm btn-gvnix pull-right" target="_top" data-toggle="tooltip" title="{{ site.t[[page.lang]].post-changelog }} {{ site.t[page.lang].at-sourceforge }}" href="{{site.sourceforge}}">{{ site.t[page.lang].all-versions }}</a>
                    </p>
            </div>
        </div>
  </div>

</div>

 <!-- socialmedia -->
  <div class="doc-links block">
        <ul class="nav navbar-nav navbar-right">
         {% for badge in page.badges.links %}
          <li>
             <a href="{{ badge.url }}" data-toggle="tooltip" title="{{ badge.name }}" target="_blank">
                <div alt="{{ badge.name }}" title="{{ badge.name }}">
                <i class="fa fa-{{ badge.icon }}"></i>
              </div>
            </a>
          </li>
         {% endfor %}
        </ul>
   </div>

  <!-- Portal Programas concurso -->
  <div class="pull-right">
<a href="http://www.portalprogramas.com/software-libre/premios/proyecto/gvNIX" target="_blank"><img src="http://cdn7.portalprogramasnet.com/imagenes/premios-software-libre/finalista.2015.png" width="200" height="233"/></a>
  </div>
  <div class="clearfix"></div>

<div class="sidebar">
 <!-- demos -->
 <div class="project-documentation--container">
        <div class="item-dropdown-widget">
            <div class="item-dropdown--title text-center">{{ site.t[page.lang].doc-samples }}</div>
            <div class="item--dropdown">
                <div class="item--body">
                   <div class="block">
                      {% for badge in page.badges.samples %}
                        <div class="item--body--version">
                        <div class="item--left-column">
                            <a href="{{ badge.url }}" data-toggle="tooltip" title="{{ badge.name }}" target="_blank" >
                             <div alt="{{ badge.name }}" title="{{ badge.name }}">
                                {{ badge.name }}
                             </div>
                            </a>
                        </div>
                        <div class="item--right-column">
                          <a href="{{ badge.url-code }}" data-toggle="tooltip" title="{{ badge.name }}" target="_blank" >
                             <div alt="{{ badge.name }}" title="{{ badge.name }}">
                                {{ site.t[page.lang].source-code }}
                             </div>
                          </a>
                        </div>
                        </div>
                         {% endfor %}
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>

<div class="sidebar">
 <!-- quickstart -->
 <div class="project-documentation--container">
        <div class="item-dropdown-widget">
            <div class="item-dropdown--title text-center">{{ site.t[page.lang].additional-doc }}</div>
            <div class="item--dropdown">
                <div class="item--body">
                   <div class="block">
                      <ul class="nav">
                         {% for badge in page.badges.additional %}
                          <li>
                             <a href="{{ badge.url }}" title="{{ badge.name }}" target="_blank">
                                <div alt="{{ badge.name }}" title="{{ badge.name }}">
                                {{ badge.name }}
                              </div>
                            </a>
                          </li>
                         {% endfor %}
                        </ul>
                   </div>
                </div>
            </div>
        </div>
  </div>

</div>


<div class="sidebar">
  {% include themes/gvnix-omega-multilanguage/home/news.html %}
</div>

