
<div class="sidebar">

 <div class="project-documentation--container">
        <div class="item-dropdown-widget">
            <div class="item-dropdown--title text-center">gvNIX</div>
            <div class="item--dropdown">
                <div class="item--body">
                    <div class="item--body-title">
                        <div class="item--left-column">Release</div>
                        <div class="item--right-column">{{ site.t[page.lang].doc }}</div>
                    </div>
                    <!-- doc project -->
                    {% for badge in page.badges.releases %}
                    <div class="item--body--version">
                        <div class="item--left-column">

                              {% if badge.name == '1.3.1' or badge.name == '1.3.0' or badge.name == '1.2.0' or badge.name == '1.1.0' or badge.name == '1.0.0' %}
                              <a data-toggle="tooltip" title="{{ site.t[[page.lang]].download }} {{ badge.name }} {{ site.t[[page.lang]].release }}" target="_blank" href='{{ site.downloads }}gvNIX-{{ badge.name }}-RELEASE.zip/download' class="docs-link reference-link">
                              {{ badge.name }}
                              </a>
                              {% else %}
                              <a data-toggle="tooltip" title="{{ site.t[[page.lang]].download }} {{ badge.name }} {{ site.t[[page.lang]].release }}" target="_blank" href='{{ site.downloads }}gvNIX-{{ badge.name }}.RELEASE.zip/download' class="docs-link reference-link">
                                {{ badge.name }}
                                </a>
                              {% endif %}

                              {% if badge.name == site.current-version %}
                               <div class="spring-icon spring-icon-current-version"></div>
                               <div class="spring-icon spring-icon-ga-release"></div>
                              {% endif %}

                        </div>
                        <div class="item--right-column">
                            <a data-toggle="tooltip" title="{{ site.t[[page.lang]].view }} {{ site.t[[page.lang]].doc }} {{ badge.name }} {{ site.t[[page.lang]].release }}" target="_blank" href='{{ site.url}}/assets/doc/{{ badge.guide }}' class="docs-link reference-link">{{ site.t[page.lang].doc-reference }}</a>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>

            <!-- button -->
            <p class="block">
              <a class="btn btn-gvnix btn-sm pull-right" data-toggle="tooltip" title="{{ site.t[page.lang].all-versions }}" target="_top" href="{{site.downloads}}">{{ site.t[page.lang].all-versions }}</a>
            </p>





        </div>
  </div>

</div>

 <!-- socialmedia -->
  <div class="doc-links block">
        <ul class="nav navbar-nav navbar-right">
         {% for badge in page.badges.links %}
          <li>
             <a href="{{ badge.url }}" data-toggle="tooltip" title="{{ badge.name }}" target="_blank">
                <div alt="{{ badge.name }}" title="{{ badge.name }}">
                <i class="fa fa-{{ badge.icon }}"></i>
              </div>
            </a>
          </li>
         {% endfor %}
        </ul>
   </div>

<div class="sidebar">
 <!-- demos -->
 <div class="project-documentation--container">
        <div class="item-dropdown-widget">
            <div class="item-dropdown--title text-center">{{ site.t[page.lang].doc-samples }}</div>
            <div class="item--dropdown">
                <div class="item--body">
                   <div class="block">
                      {% for badge in page.badges.samples %}
                        <div class="item--body--version">
                        <div class="item--left-column">
                            <a href="{{ badge.url }}" data-toggle="tooltip" title="{{ badge.name }}" target="_blank" >
                             <div alt="{{ badge.name }}" title="{{ badge.name }}">
                                {{ badge.name }}
                             </div>
                            </a>
                        </div>
                        <div class="item--right-column">
                          <a href="{{ badge.url-code }}" data-toggle="tooltip" title="{{ badge.name }}" target="_blank" >
                             <div alt="{{ badge.name }}" title="{{ badge.name }}">
                                {{ site.t[page.lang].source-code }}
                             </div>
                          </a>
                        </div>
                        </div>
                         {% endfor %}
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>

<div class="sidebar">
 <!-- quickstart -->
 <div class="project-documentation--container">
        <div class="item-dropdown-widget">
            <div class="item-dropdown--title text-center">{{ site.t[page.lang].additional-doc }}</div>
            <div class="item--dropdown">
                <div class="item--body">
                   <div class="block">
                      <ul class="nav">
                         {% for badge in page.badges.additional %}
                          <li>
                             <a href="{{ badge.url }}" title="{{ badge.name }}" target="_blank">
                                <div alt="{{ badge.name }}" title="{{ badge.name }}">
                                {{ badge.name }}
                              </div>
                            </a>
                          </li>
                         {% endfor %}
                        </ul>
                   </div>
                </div>
            </div>
        </div>
  </div>

</div>


<div class="sidebar">
  {% include themes/gvnix-omega-multilanguage/home/news.html %}
</div>

