    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Lorem ipsum</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>junio 2010</h4>
                                    <h4 class="subheading">Primer commit de gvNIX</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                     La empresa tecnológica DISID empieza a liderar el proyecto.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam,
                                    recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!

                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>abril 2011</h4>
                                    <h4 class="subheading">Soporte para idiomas y soporte para Reports</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Disponible la nueva versión 0.6.0 de gvNIX que incluye: migración a Roo 1.1.2,
                                    simplificación del Service Layer, soporte para Reports, control de concurrencia,
                                    estandarización de interfaces y soporte para idiomas.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>mayo 2011</h4>
                                    <h4 class="subheading">Addons configuration, patterns, exception, binding</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Publicada la versión 0.7.0 de gvNIX que
                                    actualiza todos los add-ons para su funcionamiento con Roo 1.1.4.
                                    Añade nuevos add-ons: configuration, patterns, exception, binding;
                                    y mejoras: service: servidores seguros, certificados PK12, 'service list...
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/gvnix-training.png" alt="gvNIX Training Program">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>septiembre 2011</h4>
                                    <h4 class="subheading">gvNIX Training Program</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Itinerario formativo de tipo modular, que permite adquirir conocimientos expertos en gvNIX y Spring Roo,
                                    a personas con diversos perfiles y niveles de conocimiento del lenguaje Java.
                                    Organizado por el COIICV.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/moskitt.png" alt="gvNIX Training Program">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>noviembre 2011</h4>
                                    <h4 class="subheading">gvNIX presente en el MoskittDay</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Presentación de la herramienta durante la tercera edición del MOSKittDay en Valencia.
                                    MOSKitt es un proyecto liderado por la CIT de la Generalitat Valenciana, integrado en gvPontis
                                    (Proyecto integral de Migración a Software Libre).
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>diciembre 2011</h4>
                                    <h4 class="subheading">Addon Typical security y Flex</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    La versión 0.8.2 de gvNIX incluye dos addons creados por la comunidad de SpringRoo:
                                    Typical security, Autenticación integrada con Spring Security;
                                    Flex: Generación de aplicaciones web con interfaz web basada en tecnología Flex.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012</h4>
                                    <h4 class="subheading">Desarrollo APLUSU</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                     Gestiona las aplicaciones, usuarios y módulos de la
                                     Conselleria de Infraestructuras, Territorio y Medio Ambiente (CITMA) de la Generalitat Valenciana,
                                     la relación entre ellos y los permisos y roles de acceso entre usuarios y aplicaciones.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/uv.png" alt="2ª Jornada TODSA-WEB">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>abril 2012</h4>
                                    <h4 class="subheading">2ª Jornada TODSA-WEB</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    El entorno de desarrollo gvNIX eje central de las 2ª Jornadas de Tecnologías Orientadas al
                                    Desarrollo de Servicios y Aplicaciones Web dentro del plan formativo del Máster en
                                    Sistemas y Servicios en la Sociedad de la Información de la Universidad de Valencia.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>noviembre 2012</h4>
                                    <h4 class="subheading">Mejora addons de patrones de pantallas</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Publicada la versión 1.0.0 de gvNIX
                                    construida sobre Spring Roo 1.2.2 e incluye 50 tareas, mejoras y correcciones
                                    sobre su versión previa 0.8.2. La mayor parte del trabajo de esta versión se ha centrado
                                    en el add-on de patrones de pantalla y en la compatibilidad de todos los add-ons con Spring Roo 1.2.2.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/3.ng" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>julio 2013</h4>
                                    <h4 class="subheading">Addon Datatables y Calidad</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    El lanzamiento de la versión 1.1.0 e incluye más de 100 mejoras, importantes correcciones
                                    y nuevas funcionalidades.
                                    Un trabajo centrado en el incremento de las pruebas sobre el framework en el sistema de
                                    integración contínua para asegurar su calidad.
                                    Destaca las mejoras de rendimiento del add-on de patrones de pantalla;
                                    varios add-ons nuevos que proporcionan una nueva funcionalidad denominada datatables
                                    para la inclusión de tablas dinámicas con JQuery;
                                    y el nuevo add-on de flex para su compatibilidad con las nuevas versiones de Roo e Hibernate;
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/gvsigroads.png" alt="gvSIG Roads">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>septiembre 2013</h4>
                                    <h4 class="subheading">Gestión integral de carreteras con gvSIG Roads</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Desarrollo de una aplicación de gestión de la conservación de carreteras para
                                    mantener una homogeneidad entre las demarcaciones en la forma de trabajar,
                                    en la presentación de documentación, coordinación con las empresas contratistas,
                                    así como el acceso a la información desde los órganos directores.
                                    Un proyecto de cartografía y gestión de datos sobre gvNIX para la Diputación de Valencia.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>octubre 2013</h4>
                                    <h4 class="subheading">Edición y creación tabular</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Liberada la versión 1.2.0, desarrollada sobre Spring Roo 1.2.4,
                                    donde se incluyen importantes correcciones y nuevas funcionalidades destacadas
                                    como la integración de Datatables para el detalle maestro
                                    y la edición y creación tabular.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/gva.png" alt="Estándar de desarrollo Java de la GVA">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">Estándar de desarrollo Java de la GVA</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    gvNIX es ratificado como estándar para el desarrollo Java de la
                                    Dirección General de Tecnologías de la Información (DGTI) de la Generalitat Valenciana.
                                    </p>

                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/semana-informatica2014.png" alt="Semana Informática 2014">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>abril 2014</h4>
                                    <h4 class="subheading">Semana Informática</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Seminario <em>gvNIX, el estándar de desarrollo Java de la Generalitat</em> dentro de la Semana Informática,
                                    punto de encuentro de profesionales de las TI de la Comunidad Valenciana organizado por el COIICV.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/timeline/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">Desarrollo gvCarrera</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Aplicación informática accesible en la sede electrónica de la Generalitat tanto desde ordenador,
                                    como tablets o móviles, dónde el personal funcionario de carrera de la Administración de la Generalitat
                                    puede solicitar la regulación y evaluación del desempeño del personal.
                                    Parte del plan Carrera Profesional Horizontal.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/etsinf.png" alt="Seminario gvNIX en la UPV">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>mayo 2014</h4>
                                    <h4 class="subheading">Seminario gvNIX en la UPV</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                     DISID, como empresa líder del proyecto, y la Escuela Técnica Superior de Ingenieria Informática (ETSINF)
                                     organizan un seminario de 12 horas de introducción a gvNIX.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>junio 2014</h4>
                                    <h4 class="subheading">nuevo proveedor de seguridad SAFE y Componente Lupa</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Liberadas las versiones 1.3.0 y 1.3.1, con correcciones de errores críticos y nuevas funcionalidades.
                                    En estas nuevas versión destacan la auditoría de datos, nuevas funcionalidades Datatables,
                                    proveedores de seguridad, Componente Lupa y el nuevo proveedor de seguridad SAFE,
                                    que nos permitirá acceder a aplicaciones gvNIX mediante certificado digital.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/producto-gvsig.png" alt="Producto de la Asociación gvSIG">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>noviembre 2014</h4>
                                    <h4 class="subheading">La Asociación gvSIG toma la gestión de gvNIX</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    gvNIX se incorpora al catálogo de la Asociación gvSIG y pasa a estar bajo su gestión,
                                    ampliando el abanico de usos de la geomática.
                                    Con gvNIX da un paso más allá de las soluciones IDE/Geoportal.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/ivace.png" alt="Proyecto IVACE">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>noviembre 2014</h4>
                                    <h4 class="subheading">Migración de Oracle a gvNIX</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Proyecto I+D para la migración de sistemas de información sobre Oracle
                                    a la herramienta de código abierto gvNIX.
                                    Un proyecto financiado por el IVACE, a través de los Fondos FEDER,
                                    dentro del marco del Programa Operativo de la Comunitat Valenciana para el periodo 2014‐2020.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>diciembre 2014</h4>
                                    <h4 class="subheading">Maven Central, componente GEO y MONITORIZACIÓN DE RENDIMIENTO</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    La versión 1.4.0 supone la actualización a la versión 1.3.0 de Spring Roo,
                                    los componentes de esta versión han sido publicados en Maven Central.
                                    Nuevo componente GEO que permite incorporar a las aplicaciones generadas,
                                    de forma sencilla, la gestión y visualización de información geográfica,
                                    todo ello basado en herramientas como Hibernate Spatial y Leaflet.
                                    Añade la monitorización de rendimiento basada en JavaMelody.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/jornadas-gvsig-2014.png" alt="Jornadas gvSIG 2014">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>diciembre 2014</h4>
                                    <h4 class="subheading">GVNIX EN LAS 10AS JORNADAS DE GVSIG</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Dentro de las 10as Jornadas Internacionales de gvSIG se presenta gvNIX 1.4.0
                                    y su nueva funcionalidad GEO.
                                    Con una ponencia y un taller dedicado, se presenta gvNIX
                                    como herramienta para el desarrollo rápido de geoportales para visualización y gestión de datos.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/gvnix-training-etsinf.png" alt="gvNIX Training">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>febrero 2015</h4>
                                    <h4 class="subheading">SEMINARIO DE GVNIX EN LA ETSINF</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    La Escuela Técnica Superior de Informática (ETSINF) de la Universidad Politécnica de Valencia
                                    en colaboración con la empresa tecnológica DISID
                                    ofrecen seminarios gratuitos de formación sobre la herramienta a sus alumnos.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/timeline/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Desarrollo geoTIC</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Aplicación web para la Generalitat Valenciana para la gestión de elementos hardware de telecomunicación y su visualización geográfica,
                                    para facilitar el mantenimiento de dichos elementos y su localización.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/gvnix-training-estudiantes.png" alt="gvNIX Training">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>marzo 2015</h4>
                                    <h4 class="subheading">FORMACIÓN PARA ESTUDIANTES</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      La Dirección General de las Tecnologías de la Información (DGTI),
                                      la Asociación gvSIG, la empresa tecnológica valenciana DISID Corporation y
                                      los institutos de la Comunidad Valenciana, unen esfuerzos para formar de forma gratuita a jóvenes de Ingeniería Informática
                                      y de Grado Superior en Desarrollo de Aplicaciones Web en el uso del entorno de desarrollo gvNIX.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/lac.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>próximo agosto 2015</h4>
                                    <h4 class="subheading">7as Jornadas LAC gvSIG</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Estaremos en las 7as Jornadas gvSIG de Latinoamérica y Caribe impartiendo el taller
                                    <em>Desarrollo con gvNIX, herramienta para el desarrollo rápido de geoportales en Java</em>
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Únete a la
                                    <br>comunidad
                                    <br>gvNIX</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

