    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our way</h2>
                    <h3 class="section-subheading text-muted">We grow and learn with each new project</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/appfuse.jpg" alt="Primera versión de gvNIX con core APPFUSE">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>july 2010</h4>
                                    <h4 class="subheading">First gvNIX version with APPFUSE core</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    The project starts sponsored by the <abbr title="Conselleria de Infraestructuras y Transporte">CIT</abbr> of the Generalitat Valenciana
                                    for the beginning of its activity in Java technologies.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/springroo.png" alt="versión de gvNIX con core Spring Roo">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2010</h4>
                                    <h4 class="subheading">ROO core migration</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Increasing productivity based on  code generation passive and active.
                                    It facilitates programming code that actually adds value.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/gvnix-training.png" alt="gvNIX Training Program">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2011</h4>
                                    <h4 class="subheading">gvNIX Training Program</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Modular training itinerary that allows acquire expertise in gvNIX and Spring Roo,
                                    people with different profiles and levels of knowledge of the Java language.
                                    Organized by the <abbr title="Association of Engineers of Valencia">COIICV</abbr>.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/moskitt.png" alt="gvNIX Training Program">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November-December 2011</h4>
                                    <h4 class="subheading">
                                    Participation in the gvSIG Conference and MoskittDay
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    First participation in the International gvSIG Conference and presentation of the tool at the 3rd edition of MOSKittDay in Valencia.
                                    MOSKitt is an integrated project on gvPontis (Free Software migration integral project).
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/uv.png" alt="2ª Jornada TODSA-WEB">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>abril 2012</h4>
                                    <h4 class="subheading">
                                    Presentation at the 2nd TODSA-WEB Conference
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    The gvNIX environment development was central axis of the
                                    2nd Technology Oriented Development Services and Web Applications Conference
                                    within the training plan of the
                                    Masters Course in Systems and Services in the Information Society
                                    of the University of Valencia.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/gvsigroads.png" alt="gvSIG Roads">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>september 2013</h4>
                                    <h4 class="subheading">Valencia Regional Council choose gvNIX to develop application for integral management of roads
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Development of a management application for roads maintenance,
                                    a project that integrates
                                    mapping and data management on gvNIX, together with gvSIG,
                                    for Valencia Regional Council.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/gva.png" alt="Estándar de desarrollo Java de la GVA">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">GVA choose GVNIX as GVA Java development tool</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    gvNIX has become the official standard for Java development of the
                                    General Directorate for Information Technologies (DGTI) of the Generalitat Valenciana.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/semana-informatica2014.png" alt="IT Week 2014">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2014</h4>
                                    <h4 class="subheading">
                                    Participation in the IT Week
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    The holding of the seminar <em>gvNIX, the standard for Java development of the Generalitat</em>
                                    within the IT Week, a meeting point for IT professionals from Valencia organized by the <abbr title="Association of Engineers of Valencia">COIICV</abbr>.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/etsinf.png" alt="Free gvNIX seminar at UPV">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2014</h4>
                                    <h4 class="subheading">
                                    Free gvNIX seminar at UPV

                                    SEMINAR AT ETSINF TO DEVELOP JAVA APPLICATIONS WITH GVNIX
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                     DISID, as leader of the project, and the School of Computing (ETSINF)
                                     organise a seminar of a 12-hour wich introduce you how gvNIX can help you to develop Java applications.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/asociacion-gvsig.png" alt="gvSIG Association Product">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2014</h4>
                                    <h4 class="subheading">
                                    The gvSIG Association took over the management of gvNIX
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    gvNIX joins the catalog of the gvSIG Association and comes under its management,
                                    extended the range of applications of geomatics.
                                    With gvNIX the gvSIG Association takes a step beyond the IDE/Geoportal solutions.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/maven-logo.png" alt="Migration to Maven Central">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2014</h4>
                                    <h4 class="subheading">MIGRATION TO MAVEN CENTRAL</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    The gvNIX components have been published to Maven central.
                                    As an open source project we allow users to build with Maven to have transparent
                                    access to their project's artifacts.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/jornadas-gvsig-2014.png" alt="gvNIX present at the 10th gvSIG Conference">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2014</h4>
                                    <h4 class="subheading">gvNIX present at the 10th gvSIG Conference</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    gvNIX presents the support for applications with geographic component GEO
                                    at 10th International gvSIG Conference.
                                    With a paper and a workshop, gvNIX was presented as a tool for rapid development of geoportals
                                    for visualization and data management.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/gvnix-training-etsinf.png" alt="Free gvNIX seminar at ETSINF">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February-June 2015</h4>
                                    <h4 class="subheading">Free gvNIX seminar at ETSINF</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    The School of Computing (ETSINF) of the Polytechnic University of Valencia in
                                    collaboration with the technological company DISID offer
                                    free training seminars on the gvNIX tool to their students.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/gvnix-training-estudiantes.png" alt="gvNIX Training">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2015</h4>
                                    <h4 class="subheading">
                                    FREE SEMINAR FOR STUDENTS
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                     The <abbr title=" General Directorate for Information Technologies">DGTI</abbr>,
                                     the gvSIG Association,
                                     the technology company DISID and Institutes of the Valencian Community,
                                     have joined forces to train free of charge to young students of
                                     Computer Engineering and Higher Degree in web Application Development
                                     on use of the development environment gvNIX.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/lac.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Next Agost 2015</h4>
                                    <h4 class="subheading">gvNIX at the 7th gvSIG Conference</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    gvNIX will be present at the 7th gvSIG Latin American and Caribbean Conference
                                    to provide the workshop <em>Development on gvNIX, tool for rapid development of geoportals on Java</em>
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                    <h4><br>What's next?</h4>
                            </div>
                        </li>
                    </ul>

                       <div class="container">
                          <div class="row">
                              <div class="col-lg-12 text-center">
                                  <h2 class="section-heading">Join the gvNIX community</h2>

                              </div>
                          </div>
                         </div>
            </div>
        </div>
        </div>
    </section>

