    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nuestro camino</h2>
                    <h3 class="section-subheading text-muted">Crecemos con cada proyecto</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/appfuse.jpg" alt="Primera versión de gvNIX con core APPFUSE">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>julio 2010</h4>
                                    <h4 class="subheading">Primera versión de gvNIX con core APPFUSE</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Inicio del proyecto patrocinado por la <abbr title="Conselleria de Infraestructuras y Transporte">CIT</abbr>
                                    de la Generalitat Valenciana para el inicio de su andadura en tecnologías Java.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/springroo.png" alt="versión de gvNIX con core Spring Roo">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>octubre 2010</h4>
                                    <h4 class="subheading">MIGRACIÓN del core a ROO</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Aumento de la productividad con la generación de código pasiva y activa.
                                    Facilita la programación del código que realmente añade valor.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/gvnix-training.png" alt="gvNIX Training Program">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>septiembre 2011</h4>
                                    <h4 class="subheading">gvNIX Training Program</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Itinerario formativo de tipo modular, que permite adquirir conocimientos expertos en gvNIX y Spring Roo,
                                    a personas con diversos perfiles y niveles de conocimiento del lenguaje Java.
                                    Organizado por el <abbr title="Colegio Oficial de Ingenieros en Informática de la Comunidad Valenciana">COIICV</abbr>.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/moskitt.png" alt="gvNIX Training Program">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>noviembre-diciembre 2011</h4>
                                    <h4 class="subheading">Participación en las jornadas gvSIG y MoskittDay</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Primera participación en las Jornadas gvSIG
                                    y presentación de la herramienta durante la tercera edición del MOSKittDay en Valencia.
                                    MOSKitt es un proyecto integrado en gvPontis (Proyecto integral de Migración a Software Libre).
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/uv.png" alt="2ª Jornada TODSA-WEB">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>abril 2012</h4>
                                    <h4 class="subheading">2ª Jornada TODSA-WEB</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    El entorno de desarrollo gvNIX eje central de las 2ª Jornadas de Tecnologías Orientadas al
                                    Desarrollo de Servicios y Aplicaciones Web dentro del plan formativo del Máster en
                                    Sistemas y Servicios en la Sociedad de la Información de la Universidad de Valencia.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/gvsigroads.png" alt="gvSIG Roads">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>septiembre 2013</h4>
                                    <h4 class="subheading">
                                    DIPUTACIÓN DE VALENCIA ELIGE GVNIX PARA DESARROLLAR GESTIÓN INTEGRAL DE CARRETERAS
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Gestión integral de carreteras con gvSIG Roads -
                                    Desarrollo de una aplicación de gestión de la conservación de carreteras para
                                    mantener una homogeneidad entre las demarcaciones en la forma de trabajar,
                                    en la presentación de documentación, coordinación con las empresas contratistas,
                                    así como el acceso a la información desde los órganos directores.
                                    Un proyecto de cartografía y gestión de datos sobre gvNIX para la Diputación de Valencia.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/gva.png" alt="Estándar de desarrollo Java de la GVA">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">
                                     GVA ELIGE GVNIX COMO HERRMIENTA DE DESARROLLO JAVA DE LA GVA
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    gvNIX es ratificado como estándar para el desarrollo Java de la
                                    Dirección General de Tecnologías de la Información (DGTI) de la Generalitat Valenciana.
                                    </p>

                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/semana-informatica2014.png" alt="Semana Informática 2014">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>abril 2014</h4>
                                    <h4 class="subheading">Semana Informática</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Seminario <em>gvNIX, el estándar de desarrollo Java de la Generalitat</em> dentro de la Semana Informática,
                                    punto de encuentro de profesionales de las TI de la Comunidad Valenciana organizado por el COIICV.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/etsinf.png" alt="Seminario gvNIX en la UPV">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>mayo 2014</h4>
                                    <h4 class="subheading">Seminario gratuito gvNIX en la UPV</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                     DISID, como empresa líder del proyecto, y la Escuela Técnica Superior de Ingenieria Informática (ETSINF)
                                     organizan un seminario de 12 horas de introducción a gvNIX.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/asociacion-gvsig.png" alt="Producto de la Asociación gvSIG">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>noviembre 2014</h4>
                                    <h4 class="subheading">La Asociación gvSIG toma la gestión de gvNIX</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    gvNIX se incorpora al catálogo de la Asociación gvSIG y pasa a estar bajo su gestión,
                                    ampliando el abanico de usos de la geomática.
                                    Con gvNIX da un paso más allá de las soluciones IDE/Geoportal.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>diciembre 2014</h4>
                                    <h4 class="subheading">COMPONENTES PUBLICADOS EN MAVEN CENTRAL</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    La versión 1.4.0 supone la actualización a la versión 1.3.0 de Spring Roo,
                                    los componentes de esta versión han sido publicados en Maven Central.
                                    Nuevo componente GEO que permite incorporar a las aplicaciones generadas,
                                    de forma sencilla, la gestión y visualización de información geográfica,
                                    todo ello basado en herramientas como Hibernate Spatial y Leaflet.
                                    Añade la monitorización de rendimiento basada en JavaMelody.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/jornadas-gvsig-2014.png" alt="Jornadas gvSIG 2014">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>diciembre 2014</h4>
                                    <h4 class="subheading">GVNIX EN LAS 10AS JORNADAS DE GVSIG</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Dentro de las 10as Jornadas Internacionales de gvSIG se presenta gvNIX 1.4.0
                                    y su nueva funcionalidad GEO.
                                    Con una ponencia y un taller dedicado, se presenta gvNIX
                                    como herramienta para el desarrollo rápido de geoportales para visualización y gestión de datos.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/gvnix-training-etsinf.png" alt="gvNIX Training">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>febrero-junio 2015</h4>
                                    <h4 class="subheading">SEMINARIO DE GVNIX EN LA ETSINF</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    La Escuela Técnica Superior de Informática (ETSINF) de la Universidad Politécnica de Valencia
                                    en colaboración con la empresa tecnológica DISID
                                    ofrecen seminarios gratuitos de formación sobre la herramienta a sus alumnos.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/gvnix-training-estudiantes.png" alt="gvNIX Training">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>marzo 2015</h4>
                                    <h4 class="subheading">FORMACIÓN PARA ESTUDIANTES - ORMACIÓN GRATUITA PARA ESTUDIANTES DE ING. INFORMÁTICA Y MÓDULO SUPERIOR ...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      La Dirección General de las Tecnologías de la Información (DGTI),
                                      la Asociación gvSIG, la empresa tecnológica valenciana DISID Corporation y
                                      los institutos de la Comunidad Valenciana, unen esfuerzos para formar de forma gratuita a jóvenes de Ingeniería Informática
                                      y de Grado Superior en Desarrollo de Aplicaciones Web en el uso del entorno de desarrollo gvNIX.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/lac.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>próximo agosto 2015</h4>
                                    <h4 class="subheading">7as Jornadas LAC gvSIG</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Estaremos en las 7as Jornadas gvSIG de Latinoamérica y Caribe impartiendo el taller
                                    <em>Desarrollo con gvNIX, herramienta para el desarrollo rápido de geoportales en Java</em>
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <!-- <h4>Únete a la
                                    <br>comunidad
                                    <br>gvNIX</h4> -->
                                    <h4>¿Qué <br>
                                    será lo<br>
                                    próximo?</h4>
                            </div>
                        </li>
                    </ul>

                       <div class="container">
                          <div class="row">
                              <div class="col-lg-12 text-center">
                                  <h2 class="section-heading">Únete a la comunidad gvNIX</h2>

                              </div>
                          </div>
                         </div>
            </div>
        </div>
        </div>
    </section>

