    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nuestro camino</h2>
                    <h3 class="section-subheading text-muted">Crecemos con cada proyecto</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/appfuse.jpg" alt="Primera versión de gvNIX con core APPFUSE">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>julio 2010</h4>
                                    <h4 class="subheading">Primera versión de gvNIX con core APPFUSE</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Inicio del proyecto patrocinado por la <abbr title="Conselleria de Infraestructuras y Transporte">CIT</abbr>
                                    de la Generalitat Valenciana para el inicio de su andadura en tecnologías Java.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/springroo.png" alt="versión de gvNIX con core Spring Roo">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>octubre 2010</h4>
                                    <h4 class="subheading">MIGRACIÓN del core a ROO</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Aumento de la productividad con la generación de código pasiva y activa.
                                    Facilita la programación del código que realmente añade valor.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/gvnix-training.png" alt="gvNIX Training Program">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>septiembre 2011</h4>
                                    <h4 class="subheading">gvNIX Training Program</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Itinerario formativo de tipo modular, que permite adquirir conocimientos expertos en gvNIX y Spring Roo,
                                    a personas con diversos perfiles y niveles de conocimiento del lenguaje Java.
                                    Organizado por el <abbr title="Colegio Oficial de Ingenieros en Informática de la Comunidad Valenciana">COIICV</abbr>.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/moskitt.png" alt="gvNIX Training Program">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>noviembre-diciembre 2011</h4>
                                    <h4 class="subheading">Participación en las jornadas gvSIG y MoskittDay</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Primera participación en las Jornadas Internacionales gvSIG
                                    y presentación de la herramienta durante la 3ª edición del MOSKittDay en Valencia.
                                    MOSKitt es un proyecto integrado en gvPontis (Proyecto integral de Migración a Software Libre).
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/uv.png" alt="2ª Jornada TODSA-WEB">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>abril 2012</h4>
                                    <h4 class="subheading">Presentación en las 2ª Jornadas TODSA-WEB</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    El entorno de desarrollo gvNIX eje central de las 2ª Jornadas de Tecnologías Orientadas al
                                    Desarrollo de Servicios y Aplicaciones Web dentro del plan formativo del Máster en
                                    Sistemas y Servicios en la Sociedad de la Información de la Universidad de Valencia.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/gvsigroads.png" alt="gvSIG Roads">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>septiembre 2013</h4>
                                    <h4 class="subheading">
                                    LA DIPUTACIÓN DE VALENCIA ELIGE GVNIX PARA EL DESARROLLO DE LA GESTIÓN INTEGRAL DE CARRETERAS
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Desarrollo de una aplicación de gestión de la conservación de carreteras,
                                    un proyecto que integra
                                    cartografía y gestión de datos sobre gvNIX junto a gvSIG
                                    para la Diputación de Valencia.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/gva.png" alt="Estándar de desarrollo Java de la GVA">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">
                                     <abbr title="Generalitat Valenciana">GVA</abbr> ELIGE GVNIX COMO HERRMIENTA DE DESARROLLO JAVA DE LA GVA
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    gvNIX es ratificado como estándar para el desarrollo Java de la
                                    Dirección General de Tecnologías de la Información (DGTI) de la Generalitat Valenciana.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/semana-informatica2014.png" alt="Semana Informática 2014">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>abril 2014</h4>
                                    <h4 class="subheading">Participación en la Semana Informática</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Realización del seminario <em>gvNIX, el estándar de desarrollo Java de la Generalitat</em> dentro de la Semana Informática,
                                    punto de encuentro de profesionales de las TI de la Comunidad Valenciana organizado por el COIICV.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/etsinf.png" alt="Seminario gvNIX en la UPV">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>mayo 2014</h4>
                                    <h4 class="subheading">Seminario gratuito gvNIX en la UPV</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                     DISID, como empresa líder del proyecto, y la Escuela Técnica Superior de Ingenieria Informática (ETSINF)
                                     organizan un seminario de 12 horas de introducción a gvNIX.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/asociacion-gvsig.png" alt="Producto de la Asociación gvSIG">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>noviembre 2014</h4>
                                    <h4 class="subheading">La Asociación gvSIG toma la gestión de gvNIX</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    gvNIX se incorpora al catálogo de la Asociación gvSIG y pasa a estar bajo su gestión,
                                    ampliando el abanico de usos de la geomática.
                                    Con gvNIX da un paso más allá de las soluciones IDE/Geoportal.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/maven-logo.png" alt="Migración a Maven Central">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>diciembre 2014</h4>
                                    <h4 class="subheading">MIGRACIÓN A MAVEN CENTRAL</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Los componentes de esta versión han sido publicados en Maven Central.
                                    Como proyecto código abierto se permite a los usuarios construir sus aplicaciones con Maven
                                    para tener un acceso transparente a los objetos de su proyecto.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/jornadas-gvsig-2014.png" alt="gvNIX presente en las 10as Jornadas de gvSIG">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>diciembre 2014</h4>
                                    <h4 class="subheading">gvNIX presente en las 10as Jornadas de gvSIG</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    gvNIX participa en las 10as Jornadas Internacionales de gvSIG
                                    presentando su nueva funcionalidad GEO.
                                    Con una ponencia y un taller dedicado, se presenta gvNIX
                                    como herramienta para el desarrollo rápido de geoportales
                                    para visualización y gestión de datos.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/gvnix-training-etsinf.png" alt="gvNIX Training">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>febrero-junio 2015</h4>
                                    <h4 class="subheading">SEMINARIO DE GVNIX EN LA ETSINF</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    La Escuela Técnica Superior de Informática (ETSINF) de la Universidad Politécnica de Valencia
                                    en colaboración con la empresa tecnológica DISID
                                    ofrecen seminarios gratuitos de formación sobre la herramienta a sus alumnos.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/gvnix-training-estudiantes.png" alt="gvNIX Training">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>marzo 2015</h4>
                                    <h4 class="subheading">
                                    FORMACIÓN GRATUITA PARA ESTUDIANTES
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      La <abrr title="Dirección General de las Tecnologías de la Información">DGTI</abrr>,
                                      la Asociación gvSIG, la empresa tecnológica DISID y
                                      los institutos de la Comunidad Valenciana, unen esfuerzos para formar de forma gratuita
                                      a jóvenes de Ingeniería Informática
                                      y de Grado Superior en Desarrollo de Aplicaciones Web en el uso del entorno de desarrollo gvNIX.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/themes/gvnix-omega-multilanguage/images/timeline/lac.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>próximo agosto 2015</h4>
                                    <h4 class="subheading">gvNIX en las 7as Jornadas gvSIG LAC</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Estaremos en las 7as Jornadas gvSIG de Latinoamérica y Caribe impartiendo el taller
                                    <em>Desarrollo con gvNIX, herramienta para el desarrollo rápido de geoportales en Java</em>
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                    <h4>¿Qué <br>
                                    será lo<br>
                                    próximo?</h4>
                            </div>
                        </li>
                    </ul>

                       <div class="container">
                          <div class="row">
                              <div class="col-lg-12 text-center">
                                  <h2 class="section-heading">Únete a la comunidad gvNIX</h2>

                              </div>
                          </div>
                         </div>
            </div>
        </div>
        </div>
    </section>

