---
layout: pageminimal
title : Archivo
permalink: /es/archive/
lang: es
---

<!--
{% include JB/setup %}
{% assign posts_collate = site.posts | where:"lang", page.lang %}
{% include JB/posts_collate %}
 -->
<!-- <h3>{{ page.title }} at {{ site.title }}</h3> -->

  {% assign collection = site.posts | where:"lang", page.lang %}
  {% for post in collection %}

   <ul class="post-list">
    <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d" }} {% include date.html date=post.date mode="month"%}</time></span></a></article></li>
  </ul>
  {% endfor %}

