{% capture content %}
<!--
<div class="project-body--wrapper">
    <div class="project-body--container">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span8">
                    <div class="project-body--section">
                        {{ main_content | markdownify }}
                    </div>
                </div>
                <div class="span4">
                    {% include project_sidebar.html %}
                </div>
            </div>
        </div>
    </div>
</div> -->

{{ main_content | markdownify }}

{% endcapture %}

<!-- show content -->

{{ content }}
{{ end_content }}

