/* Editor */
.dijitRtl .final .dijitEditorIcon {
	background-image: url('images/editor_rtl.gif'); /* editor icons sprite image */
}
.dijitRtl .final .dijitDisabled .dijitEditorIcon {
	background-image: url('images/editorDisabled_rtl.gif'); /* editor icons sprite image */
}

/* Toolbar */
.dijitRtl .final .dijitToolbar .dijitToolbarSeparator {
	background-image: url('images/editor_rtl.gif');
}
