.final .dijitTitlePane .dijitTitlePaneTitle {
  background:#8F8F8F;
	color:#FFFFFF;
	border:1px solid #BFBFBF;
	cursor:pointer;
	padding:3px 4px;
}

.final .dijitTitlePaneTitle * {
	vertical-align: middle;
	background:#8F8F8F;
	color:#FFFFFF;
	cursor:pointer;
	font-weight: bold;
}

.final .dijitTitlePane .dijitArrowNode {
	cursor: pointer;
	background-image: url('images/spriteArrows.png');
	background-repeat: no-repeat;
	height: 7px;
	width: 7px;
}
.dj_ie6 .final .dijitTitlePane .dijitArrowNode {
	background-image: url('images/spriteArrows.gif');
}

.final .dijitTitlePane .dijitOpen .dijitArrowNode {
	background-position: 0px 0px;
}
.final .dijitTitlePane .dijitClosed .dijitArrowNode {
	background-position: -14px 0px;
}

.final .dijitTitlePaneFocused .dijitTitlePaneTextNode {
	text-decoration:underline;
}

.final .dijitTitlePane .dijitArrowNodeInner {
	display:none;
}

.dijit_a11y .dijitTitlePane .dijitArrowNodeInner {
	display:inline !important;
	font-family:monospace;
	cursor: pointer;
	padding-bottom:.2em;
}

.dijit_a11y .dijitTitlePane .dijitArrowNode {
	display:none;
}

.final .dijitTitlePaneContentOuter {
	background: #ffffff;
	border:1px solid #bfbfbf;
	border-top: 1px solid #ccc;	/* w/out this, an <h1> on the top line causes a gap between the .content and .label */
}
.final .dijitTitlePaneContentInner {
  padding: 0px;
}
/* force hasLayout to ensure borders etc, show up */
.dj_ie6 .final .dijitTitlePaneContentOuter,
.dj_ie6 .final .dijitTitlePane .dijitTitlePaneTitle {
	zoom: 1;
}

.final .dijitTitlePaneTextNode {
	margin-left: 4px;
	margin-right: 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 17px;
}
