

<section id="featured">
  <div class="callout dark arrow-down">
        <div class="container text-center">

          <h2>Herramienta desarrollo = productividad</h2>
          <p class="text-center">Ofrece al desarrollador componentes de alto valor funcional para aplicaciones corporativas.</p>
          <p class="text-center">Nos permite crear, integrar y configurar frameworks y librerías. Proporciona patrones y buenas prácticas.
Focaliza en la lógica de negocio. Homogeneidad definida por la herramienta de desarrollo.
          </p>

        </div>
  </div>

  <div class="container">

          <div class="text-center notViewed animBlock" data-position="right">
            <img class="img-responsive img-centered" src="{{ site.url }}/images/responsive.png" alt="" style="opacity: 1; right: 0px;">
          </div>

  </div>

  <div class="callout dark arrow-up">
        <div class="container text-center notViewed animBlock" data-position="right">

          <h2>Crea un proyecto en segundos</h2>
          <p class="text-center">gvNIX te ofrece una estructura de proyectos única para cualquier tipo de proyecto</p>
          <br>

          <div class="row text-left">
            <div class="col-md-6 col-sm-6">
              <ul class="list-icon">
                <li><i class="fa fa-check"></i> Evolución de las aplicaciones de forma independiente.</li>
                <li><i class="fa fa-check"></i> Es posible corregir incidencias en la propia aplicación.</li>
                <li><i class="fa fa-check"></i> Genera cualquiera de las capas de la arquitectura de la aplicación.</li>
                <li><i class="fa fa-check"></i> Diferencia clara entre desarrolladores  y usuarios finales.</li>
                <li><i class="fa fa-check"></i> Transparente para el despliegue en producción. </li>
              </ul>
            </div>
            <div class="col-md-6 col-sm-6">
              <ul class="list-icon">
              <li><i class="fa fa-check"></i> Multiplataforma y fácil de instalar</li>
              <li><i class="fa fa-check"></i> Generación no-intrusiva de código</li>
              <li><i class="fa fa-check"></i> Buenas prácticas desde Análisis</li>
              <li><i class="fa fa-check"></i> Proyectos JEE estándar</li>
              <li><i class="fa fa-check"></i> No añade dependencias de componentes</li>
              </ul>
            </div>
            <div>
              <ul>
                <li> Generación de código en Java.</li>
                <li> Elimina el trabajo tedioso centrando al desarrollador en la lógica de negocio.</li>
                <li> Convención sobre configuración.</li>
                <li> Desarrollo dirigido por el dominio (<em>Domain-Driven Development</em>).</li>
                <li> Crea un proyecto en segundos.</li>
                <li> Realimentación: Añade valor durante todo el ciclo de vida.</li>
                <li> No incorpora elementos adicionales al entorno de ejecución, por lo que no penaliza la velocidad la aplicación.</li>
                <li> No requiere un IDE específico, se puede utilizar cualquier herramienta de desarrollo (Eclipse, IntelliJ, ...).</li>
                <li> Recibe instrucciones a través de una consola interactiva con autocompletado y ayuda en línea.</li>
                <li> Extensible usando bundles OSGi.</li>
                <li> Aprovecha el conocimiento: No necesita más conocimiento que el necesario para el desarrollo de aplicaciones JEE.</li>
              </ul>
            </div>
            <div>
              <ul>
                <li> Control de concurrencia a nivel de aplicación sin campos en base de datos.</li>
                <li> Gestión de distintos temas visuales.</li>
                <li> Gestión de la visualización de excepciones.</li>
                <li> Gestión de mensajes de usuario en ventana modal.</li>
                <li> Organización de la estructura de páginas en el menú.</li>
                <li> Gestión de patrones de visualización de entidades y sus relaciones.</li>
                <li> Gestión de transformación de cadenas vacías a valores nulos.</li>
                <li> Gestión de servicios locales y servicios web (importación y exposición).</li>
                <li> Gestión de configuraciones por entorno.</li>
                <li> Control de acceso (autenticación y autorización).</li>
                <li> Generación de documentos (reportes).</li>
              </ul>
            </div>



          </div>
        </div>
      </div>

</section>
