<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
{% include themes/gvnix-omega-multilanguage/head.html %}
</head>

<body class="home-template" itemscope itemtype="http://schema.org/WebPage">
  <div id="fade"></div>

  <!-- navigation sidebar -->
  <!-- <a id="slide" class="animated fade"></a> -->
  <!--
  <aside id="sidebar">
     include themes/gvnix-omega-multilanguage/navigation.html
  </aside> -->

  <!-- header -->

  {% if page.imagefeature %}
   <header id="masthead" class="blog-background overlay align-center align-bottom animated from-bottom"  style="background-image: url({{ site.url }}{{ ASSET_PATH }}/images/{{ page.imagefeature }})" itemscope itemtype="http://schema.org/Organization">
  {% else %}
  <header id="masthead" class="blog-background overlay align-center align-bottom animated from-bottom"  style="background-image: url({{ site.url }}{{ ASSET_PATH }}/images/{{ site.default_bg }})" itemscope itemtype="http://schema.org/Organization">
  {% endif %}

<!-- Navigation -->
   <!-- ribbon github -->
    <a href="https://github.com/disid/gvnix">
      <img style="position: absolute; top: 0; left: 0; border: 0; z-index: 30" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png">
    </a>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- nav links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                        <a href="#page-top"></a>
                  </li>
                  <!-- scroll home sections -->
                  <!-- <li>
                      <a class="page-scroll" href="#featured">{{ site.t[page.lang].home-features }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">{{ site.t[page.lang].home-case-studies }}</a>
                    </li> -->

                  <!-- categories for language filter -->

                  <!-- { for link in site.links[page.lang] }
                    <li>{ if link.external }
                      <a href="{{ link.url }}">{{ link.title }}</a>
                      { else }
                      <a href="{{ site.url }}{{ link[1].url }}">{{ link[1].title }}</a>
                      { endif }
                    </li>
                   { endfor } -->

                   <!-- language select -->
                   <li class="lang">
                    {% if page.lang == "en" %}
                    <ul class="nav navbar-nav">
                      <li><a href="{{ site.url }}{{ page.url }}" class="{{ page.lang }}">EN</a></li>
                      <li class="divider-vertical"></li>
                      <li><a href="{{ site.url }}{{ page.url | replace: '/en/','/'}}">ES</a></li>
                    </ul>
                    {% endif %}
                    {% if page.lang == "es" %}
                    <ul class="nav navbar-nav">
                      <li><a href="{{ site.url }}/en{{ page.url }}">EN</a></li>
                      <li class="divider-vertical"></li>
                      <li><a href="{{ site.url }}{{ page.url }}" class="{{ page.lang }}">ES</a></li>
                    </ul>
                    {% endif %}
                   </li>
                  </ul>
            </div>
        </div>
    </nav>

  {% if site.search %}
      <button class="menu-button animated fade dosearch">
          <i class="icon-search"></i>
      </button>
  {% endif %}

  {% if site.t[page.lang].description %}
    <div class="inner">
        <div class="container">
            <a class="brand light" href="{{ site.url }}" role="banner" itemprop="url">
                {% if site.logo %}
                  <img itemprop="logo" src="{{ site.url }}{{ ASSET_PATH }}/images/{{ site.logo }}" alt="{{ site.title }} Logo" />
                {% endif %}
            </a>
            <h2 class="light" itemprop="description">{{ site.t[page.lang].description }} </h2>
            {% if site.t[page.lang].headline %}
            <h3 class="blog-description light">{{ site.t[page.lang].headline }}</h3>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="inner">
        <div class="container">
            <a class="brand" href="{{ site.url }}" role="banner" itemprop="url">
                    <img itemprop="logo" src="{{ site.url }}{{ ASSET_PATH }}/images/{{ site.logo }}" alt="{{ site.title }} Logo" />
            </a>
        </div>
    </div>
    {% endif %}

</header>

<div id="main" class="content homepage" role="main" itemprop="mainContentOfPage">
    <!-- call out -->
    <div class="callout dark">
      <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12 col-lg-12">
                  <div class="col-sm-4 col-lg-4">
                    <a href="{{ site.demo-geo }}" target="_blank">
                    {{ site.t[page.lang].callout-btn-demo }}</a>
                  </div>
                  <div class="col-sm-4 col-lg-4">
                    <a href="{{ site.quickstart }}" target="_blank">
                    {{ site.t[page.lang].callout-btn-quickstart }}</a>
                  </div>
                  <div class="col-sm-4 col-lg-4">
                    <a href="{{ site.download }}" target="_blank">
                    {{ site.t[page.lang].callout-btn-download }}</a>
                  </div>
                 </div>
              </div>
            </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="page-body" itemprop="description">
            <section>
              <div class="container">
                <div class="row">
                  <article class="page col-md-7">

                          <div class="page-body" itemprop="description">
                            {{ content }}
                          </div>
                  </article>

                  <!-- sidebar -->
                   <div class="col-md-offset-1 col-md-4">
                          {% include themes/gvnix-omega-multilanguage/sidebar.html %}
                   </div>

              </div>

              </div>
            </section>


            {% if page.lang == "en" %}
              <section class="bg-light-gray">
              {% include themes/gvnix-omega-multilanguage/home/social.html %}
              </section>
              <section>
              {% include themes/gvnix-omega-multilanguage/home/clients.html %}
              </section>
            {% endif %}

            {% if page.lang == "es" %}
                <section class="bg-light-gray">
                {% include themes/gvnix-omega-multilanguage/home/social-es.html %}
                </section>
                <section>
                {% include themes/gvnix-omega-multilanguage/home/clients-es.html %}
                </section>
            {% endif %}

            </div>
        </div>
    </div>
</div>
    {% include themes/gvnix-omega-multilanguage/footer.html %}

{% include themes/gvnix-omega-multilanguage/scripts.html %}


</body>
</html>
