---
layout: pageminimal
title: Últimas noticias de gvNIX
permalink: es/blog/
lang: es
---

{% if site.paginate %}
  {% assign posts=site.posts | where:"lang", page.lang | where:"layout", "post" %}

  {% for post in posts %}

    {% if site.wpm %}
    {% assign readtime = post.content | strip_html | number_of_words | append: '.0' | divided_by:site.wpm %}
    {% else %}
    {% assign readtime = post.content | strip_html | number_of_words | append: '.0' | divided_by:180 %}
    {% endif %}
    {% assign modifiedtime = post.modified | date: "%Y%m%d" %}
    {% assign posttime = post.date | date: "%Y%m%d" %}
      {% if post.type == 'quote' %}
      <div class="row">
              <article class="post col-md-10 col-md-offset-1">
                <header class="post-header">
                      <h2 class="post-title text-center super lighter">
                          <a href="{{ site.url }}{{ post.url }}"><i class="fa fa-quote-left"></i> {{ post.excerpt | strip_html }}</a>
                      </h2>
                      <p class="light small text-center">
                          {{ site.t[page.lang].share-quote }}
                      </p>
                      <ul class="social-mini text-center">
                          <li>
                              <a href="https://twitter.com/intent/tweet?text=&quot;{{ post.title }}&quot;%20{{ site.url }}{{ post.url }}%20via%20&#64;{{ site.owner.twitter }}"
                              onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" data-toggle="tooltip" title="{{ site.t[page.lang].share-twitter }}">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </li>
                          <li>
                              <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ post.url }}"
                              onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" data-toggle="tooltip" title="{{ site.t[page.lang].share-facebook }}">
                                  <i class="fa fa-facebook"></i>
                              </a>
                          </li>
                          <li>
                              <a href="https://plus.google.com/share?url={{ site.url }}{{ post.url }}"
                             onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" data-toggle="tooltip" title="Share on Google plus">
                                  <i class="fa fa-google-plus"></i>
                              </a>
                          </li>
                      </ul>
                  <div class="post-body bordered-bottom text-center">
                      {% if post.description %}
                      <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-gvnix btn-large">
                          <i class="fa fa-link"></i> permalink...
                      </a>
                      {% else %}
                      <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title=" {{ site.t[page.lang].read-more }} {{ post.title }}" class="more-link btn btn-gvnix btn-large">
                          <i class="fa fa-link"></i> permalink...
                      </a>
                      {% endif %}
                  </div>
                  </header>
              </article>
          </div>
          {% endif %}
          {% if post.type == 'status' %}
          <div class="row">
              <article class="post col-md-10 col-md-offset-1">
                 <header class="post-header">
                      <h2 class="post-title text-center super lighter">
                          <a href="{{ site.url }}{{ post.url }}" style="color: #965C29"><i class="fa fa-retweet"></i> "{{ post.excerpt | strip_html }}"</a>
                      </h2>
                      <p class="light small text-center">
                          {{ site.t[page.lang].status }}
                      </p>
                      <ul class="social-mini text-center">
                          <li>
                              <a href="https://twitter.com/intent/tweet?text=&quot;{{ post.title }}&quot;%20{{ site.url }}{{ post.url }}%20via%20&#64;{{ site.owner.twitter }}"
                              onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" data-toggle="tooltip" title="{{ site.t[page.lang].share-twitter }}">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </li>
                          <li>
                              <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ post.url }}"
                              onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" data-toggle="tooltip" title="{{ site.t[page.lang].share-facebook }}">
                                  <i class="fa fa-facebook"></i>
                              </a>
                          </li>
                          <li>
                              <a href="https://plus.google.com/share?url={{ site.url }}{{ post.url }}"
                             onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" data-toggle="tooltip" title="Share on Google plus">
                                  <i class="fa fa-google-plus"></i>
                              </a>
                          </li>
                      </ul>
                      <div class="post-info text-center small">
                          {{ site.t[page.lang].status-posted }}<time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d" }} {% include date.html date=post.date mode="month"%}</time>{% if post.modified %}{% if modifiedtime != posttime %} - {{ site.t[page.lang].modified }} <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time>{% endif %}{% endif %}
                          <!-- in <span class="post-tags">
                          {% for tag in post.categories %}
                          <a href="{{ site.url }}/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">
                          {{ tag | capitalize }}
                          </a> -->
                          {% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</span>
                          &nbsp;<span class="post-tags">by {{ site.owner.name }}</span>
                          <div class="post-body bordered-bottom"></div>
                      </div>
                  </header>
              </article>
          </div>
          {% endif %}
          {% if post.type == 'video' %}
          <div class="row">
              <article class="post post col-md-8 col-md-offset-2">
                 <header class="post-header">
                      {% if post.link %}
                      <h2 class="post-title text-center super lighter">
                          <a href="{{ site.url }}{{ post.url }}" style="color: #fff; background-color: #945208; border-radius: 4px; padding: 10px"><i class="fa fa-play-circle"></i> {{ post.title }}</a>
                      {% else %}
                      <h2 class="post-title text-center super lighter bordered-bottom">
                          <a href="{{ site.url }}{{ post.url }}"><i class="fa fa-play-circle"></i> {{ post.title }}</a>
                      {% endif %}
                      </h2>
                      <div class="post-info text-center small">
                          <time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d" }} {% include date.html date=post.date mode="month"%}</time>{% if post.modified %}{% if modifiedtime != posttime %} - {{ site.t[page.lang].modified }} <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time>{% endif %}{% endif %}
                          <!-- in <span class="post-tags">{% for tag in post.categories %}
                          <a href="{{ site.url }}/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">
                          {{ tag | capitalize }}
                          </a> -->
                          {% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</span>{% if site.readtime %}&nbsp;<span class="post-tags">
                          <i class="fa fa-clock-o"></i>&nbsp;{% if readtime > 1 and readtime < 1.5 %}{{ site.t[page.lang].1-minute }}{% endif %}{% if readtime > 1.5 %}
                          <span class="time">{{ readtime }}</span> {{ site.t[page.lang].read }}{% endif %}{% if readtime < 1 %}{{ site.t[page.lang].less-1 }}{% endif %}</span>{% endif %}
                      </div>
                  </header>
                  <div class="post-body bordered-bottom">
                  {% if post.video %}
              {% assign video_embed = post.video | remove:'https://www.youtube.com/watch?v=' %}
                    <p><iframe width="940" height="529" src="//www.youtube.com/embed/{{ video_embed }}?theme=light&amp;color=white" frameborder="0" allowfullscreen> </iframe></p>
                    <p class="lead">{{ post.content | strip_html | truncatewords:50 }}&hellip;</p>
                    {% else %}
                  <p class="lead">{{ post.excerpt }}&hellip;</p>
                  {% endif %}
                  <div class="text-center">
                      {% if post.description %}
                    <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-gvnix btn-large">
                        <i class="fa fa-link"></i> {{ site.t[page.lang].see-more }}
                    </a>
                    {% else %}
                    <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title=" {{ site.t[page.lang].read-more }} {{ post.title }}" class="more-link btn btn-gvnix btn-large">
                        <i class="fa fa-link"></i> {{ site.t[page.lang].see-more }}
                    </a>
                    {% endif %}
                </div>
                  </div>
              </article>
          </div>
          {% endif %}
          {% if post.type == 'photo' %}
          <div class="row">
              <article class="post post col-md-8 col-md-offset-2">
                 <header class="post-header">
                    {% if post.photo %}<figure><a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}{{ ASSET_PATH }}/images/{{ post.photo }}" alt="{{ post.title }}" itemprop="image"></a></figure>{% else %}<figure><a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}{{ ASSET_PATH }}/images/{{ post.imagefeature }}" alt="{{ post.title }}" itemprop="image"></a></figure>{% endif %}
                      {% if post.link %}
                      <h2 class="post-title text-center super lighter">
                          <a href="{{ site.url }}{{ post.url }}" style="color: #fff; background-color: #945208; border-radius: 4px; padding: 10px"><i class="fa fa-picture-o"></i> {{ post.title }}</a>
                      {% else %}
                      <h2 class="post-title text-center super lighter bordered-bottom">
                          <a href="{{ site.url }}{{ post.url }}"><i class="fa fa-picture-o"></i> {{ post.title }}</a>
                      {% endif %}
                      </h2>
                      <div class="post-info text-center small">
                          <time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d" }} {% include date.html date=post.date mode="month"%}</time>{% if post.modified %}{% if modifiedtime != posttime %} - {{ site.t[page.lang].modified }} <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time>{% endif %}{% endif %}
                          <!-- in <span class="post-tags">{% for tag in post.categories %}
                          <a href="{{ site.url }}/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">
                          {{ tag | capitalize }}
                          </a> -->
                          {% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</span>{% if site.readtime %}&nbsp;<span class="post-tags"><i class="fa fa-clock-o"></i>&nbsp;{% if readtime > 1 and readtime < 1.5 %}{{ site.t[page.lang].1-minute }}{% endif %}{% if readtime > 1.5 %}<span class="time">{{ readtime }}</span> {{ site.t[page.lang].read }}{% endif %}{% if readtime < 1 %}{{ site.t[page.lang].less-1 }}{% endif %}</span>{% endif %}
                      </div>
                  </header>
                  <div class="post-body bordered-bottom">
                      <p>{{ post.content | strip_html | truncatewords:50 }}&hellip;</p>
                      <div class="text-center">
                      {% if post.description %}
                    <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-gvnix btn-large">
                        <i class="fa fa-link"></i> permalink...
                    </a>
                    {% else %}
                    <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title=" {{ site.t[page.lang].read-more }} {{ post.title }}" class="more-link btn btn-gvnix btn-large">
                        <i class="fa fa-link"></i> permalink...
                    </a>
                    {% endif %}
                    </div>
                  </div>
              </article>
          </div>
          {% endif %}
          {% if post.type != 'video' and post.type != 'status' and post.type != 'quote' and post.type != 'photo' %}
          <div class="row">
              <article class="post post col-md-8 col-md-offset-2">
                 <header class="post-header">
                 {% if post.featured %}<div class="cursive rounded"> {{ site.t[page.lang].post-featured }}</div>{% endif %}
                 {% if post.changelog %}<div class="cursive rounded"> {{ site.t[page.lang].post-changelog }}</div>{% endif %}
                 {% if post.training %}<div class="cursive rounded"> {{ site.t[page.lang].post-training }}</div>{% endif %}

                      {% if post.link %}
                      <h2 class="post-title text-center super lighter">
                          <a href="{{ site.url }}{{ post.url }}" style="color: #fff; background-color: #945208; border-radius: 4px; padding: 10px"><i class="fa fa-link"></i> {{ post.title }}</a>
                      {% else %}
                      <h2 class="post-title text-center super lighter bordered-bottom">
                          <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                      {% endif %}
                      </h2>
                      <div class="post-info text-center small">
                          <time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d" }} {% include date.html date=post.date mode="month"%}</time>{% if post.modified %}{% if modifiedtime != posttime %} - {{ site.t[page.lang].modified }} <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time>{% endif %}{% endif %}
                          <!-- in <span class="post-tags">{% for tag in post.categories %}
                          <a href="{{ site.url }}/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">
                          {{ tag | capitalize }}
                          </a> -->
                          {% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</span>{% if site.readtime %}&nbsp;<span class="post-tags"><i class="fa fa-clock-o"></i>&nbsp;{% if readtime > 1 and readtime < 1.5 %}{{ site.t[page.lang].1-minute }}{% endif %}{% if readtime > 1.5 %}<span class="time">{{ readtime }}</span> {{ site.t[page.lang].read }}{% endif %}{% if readtime < 1 %}{{ site.t[page.lang].less-1 }}{% endif %}</span>{% endif %}
                      </div>
                  </header>
                  <div class="post-body bordered-bottom">
                  {% assign excerptsize = post.excerpt | number_of_words %}
                  {% if excerptsize <= 100 and excerptsize >= 50 %}<p class = "lead">{{ post.excerpt | strip_html }}&hellip;</p>{% else %}
                      <p>{{ post.content | strip_html | truncatewords:50 }}&hellip;</p>{% endif %}
                      <div class="text-center">
                      {% if post.description %}
                    <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-gvnix btn-large">
                        <i class="fa fa-link"></i>  {{ site.t[page.lang].see-more }}
                    </a>
                    {% else %}
                    <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title=" {{ site.t[page.lang].read-more }} {{ post.title }}" class="more-link btn btn-gvnix btn-large">
                        <i class="fa fa-link"></i>  {{ site.t[page.lang].see-more }}
                    </a>
                    {% endif %}
                    </div>
                  </div>
              </article>
          </div>
    {% endif %}
  {% endfor %}

{% endif %}

