.dijitRtl .final .dijitSliderProgressBarH,
.dijitRtl .final .dijitSliderRemainingBarH,
.dijitRtl .final .dijitSliderLeftBumper,
.dijitRtl .final .dijitSliderRightBumper,
.dijitRtl .final .dijitSliderTopBumper {
	background-position: top right;
}

.dijitRtl .final .dijitSliderProgressBarV,
.dijitRtl .final .dijitSliderRemainingBarV,
.dijitRtl .final .dijitSliderBottomBumper {
	background-position: bottom right;
}

.dijitRtl .final .dijitSliderLeftBumper {
	border-left-width: 0px;
	border-right-width: 1px;
}

.dijitRtl .final .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0px;
}

.dijitRtl .final .dijitSliderIncrementIconH {
	background-position: -7px 0px;
}

.dijitRtl .final .dijitSliderDecrementIconH {
	background-position: -14px 0px;
}
