<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<!-- HTTP security configurations -->
    <http auto-config="true" use-expressions="true">
    	<form-login login-processing-url="/static/j_spring_security_check" login-page="/login" authentication-failure-url="/login?login_error=t"/>
        <logout logout-url="/static/j_spring_security_logout"/>

        <!-- Configure these elements to secure URIs in your application -->
        <intercept-url pattern="/choice/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/member/**" access="isAuthenticated()" />
        <intercept-url pattern="/resources/**" access="permitAll" />
        <intercept-url pattern="/static/**" access="permitAll" />
        <intercept-url pattern="/login**" access="permitAll" />
        <intercept-url pattern="/entidad**" access="hasRole('ROLE_USER')" />
        <intercept-url pattern="/**" access="permitAll" />
        <intercept-url pattern="/" access="permitAll" />
    </http>

	<!-- Configure Authentication mechanism -->
	 <authentication-manager  alias="authenticationManager">
	   <authentication-provider ref="wscitAuthenticationProvider"/>
	 </authentication-manager>

    <beans:bean id="wscitAuthenticationProvider" class="__TARGET_PACKAGE__.WscitAuthenticationProvider">
        <beans:property name="serverWSAuthPortProxy" ref="serverWSAuthPortProxy"/>
        <beans:property name="credentialCitLogin" value="${wsauth.loggin}"/>
        <beans:property name="credentialCitPassword" value="${wsauth.password}"/>
        <beans:property name="passwordEncoder" ref="passwordEncoder"/>
        <beans:property name="saltSource" ref="saltSource"/>
    </beans:bean>

	<!-- Select password encoder -->
	<beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.PlaintextPasswordEncoder"/>
    <!-- <beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"/> -->
    <!-- <beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
    	<beans:constructor-arg>256</beans:constructor-arg>
    </beans:bean>
    -->

	<!-- Select saltSouce to use  -->
	<beans:bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
		<beans:property name="userPropertyToUse" value="codper"/>
	</beans:bean>
	<!-- <beans:bean id="saltSoure" class="org.springframework.security.authentication.dao.SystemWideSaltSource"/> -->





    <beans:bean id="serverWSAuthPortProxy" class="__TARGET_PACKAGE__.ServerWSAuthPortProxy">
		<beans:property name="endpoint" value="${wsauth.url}" />
    </beans:bean>

</beans:beans>