/*
Author: L. Voogdt
License: MIT
Version: 1.0
*/

/* Marker setup */
.awesome-marker {
  background: url('images/markers-soft.png') no-repeat 0 0;
  width: 35px;
  height: 46px;
  position:absolute;
  left:0;
  top:0;
  display: block;
  text-align: center;
}

.awesome-marker-shadow {
  background: url('images/markers-shadow.png') no-repeat 0 0;
  width: 36px;
  height: 16px;
}

/* Retina displays */
@media (min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
 .awesome-marker {
  background-image: url('images/markers-soft@2x.png');
  background-size: 720px 46px;
 }
 .awesome-marker-shadow {
  background-image: url('images/markers-shadow@2x.png');
  background-size: 35px 16px;
 }
}

.awesome-marker i {
  color: #333;
  margin-top: 10px;
  display: inline-block;
  font-size: 14px;
}

.awesome-marker .icon-white {
  color: #fff;
}

/* Colors */
.awesome-marker-icon-red {
  background-position: 0 0;
}

.awesome-marker-icon-darkred {
  background-position: -180px 0;
}

.awesome-marker-icon-lightred {
  background-position: -360px 0;
}

.awesome-marker-icon-orange {
  background-position: -36px 0;
}

.awesome-marker-icon-beige {
  background-position: -396px 0;
}

.awesome-marker-icon-green {
  background-position: -72px 0;
}

.awesome-marker-icon-darkgreen {
  background-position: -252px 0;
}

.awesome-marker-icon-lightgreen {
  background-position: -432px 0;
}

.awesome-marker-icon-blue {
  background-position: -108px 0;
}

.awesome-marker-icon-darkblue {
  background-position: -216px 0;
}

.awesome-marker-icon-lightblue {
  background-position: -468px 0;
}

.awesome-marker-icon-purple {
  background-position: -144px 0;
}

.awesome-marker-icon-darkpurple {
  background-position: -288px 0;
}

.awesome-marker-icon-pink {
  background-position: -504px 0;
}

.awesome-marker-icon-cadetblue {
  background-position: -324px 0;
}

.awesome-marker-icon-white {
  background-position: -574px 0;
}

.awesome-marker-icon-gray {
  background-position: -648px 0;
}

.awesome-marker-icon-lightgray {
  background-position: -612px 0;
}

.awesome-marker-icon-black {
  background-position: -682px 0;
}


/**
* BIG AWESOME MARKERS
*/

/* Grouped Marker Setup */
.awesome-marker-big {
  background: url('images/markers-soft@2x.png') no-repeat 0 0;
  background-size:1025px;
  width: 35px;
  height: 46px;
  position:absolute;
  left:0;
  top:0;
  display: block;
  text-align: center;
}

.awesome-marker-big-shadow {
  background: url('images/markers-shadow@2x.png') no-repeat 0 0;
  width: 36px!important;
  height: 16px!important;
}

/* Retina displays */
@media (min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
 .awesome-marker-big {
  background-image: url('images/markers-soft@2x.png');
  background-size: 1025px;
 }
 .awesome-marker-big-shadow {
  background-image: url('images/markers-shadow@2x.png');
  width: 36px!important;
  height: 16px!important;
 }
}

.awesome-marker-big i {
  color: #333;
  margin-top: 33px;
  font-size: 14px;
}

.awesome-marker-big i p{
  color: #fff;
  margin-top: -32px;
  font-size: 14px;
}

.awesome-marker-big .icon-white {
  color: #fff;
}

/* Colors */
.awesome-marker-big-icon-red {
  background-position: 0 0;
}

.awesome-marker-big-icon-orange {
  background-position: -51px 0;
}

.awesome-marker-big-icon-green {
  background-position: -102px 0;
}

.awesome-marker-big-icon-blue {
  background-position: -153px 0;
}

.awesome-marker-big-icon-purple {
  background-position: -205px 0;
}

.awesome-marker-big-icon-darkred {
  background-position: -256px 0;
}

.awesome-marker-big-icon-darkblue {
  background-position: -307px 0;
}

.awesome-marker-big-icon-darkgreen {
  background-position: -358px 0;
}

.awesome-marker-big-icon-darkpurple {
  background-position: -409px 0;
}

.awesome-marker-big-icon-cadetblue {
  background-position: -460px 0;
}

.awesome-marker-big-icon-lightred {
  background-position: -511px 0;
}

.awesome-marker-big-icon-beige {
  background-position: -562px 0;
}

.awesome-marker-big-icon-lightgreen {
  background-position: -613px 0;
}

.awesome-marker-big-icon-lightblue {
  background-position: -664px 0;
}

.awesome-marker-big-icon-pink {
  background-position: -715px 0;
}

.awesome-marker-big-icon-white {
  background-position: -817px 0;
}

.awesome-marker-big-icon-lightgray {
  background-position: -868px 0;
}

.awesome-marker-big-icon-gray {
  background-position: -919px 0;
}

.awesome-marker-big-icon-black {
  background-position: -970px 0;
}
